*{
    margin: 0 ;
    padding: 0 ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{ 
    text-decoration: none;
}
.navbar{  
    border: 1px solid red;
    width:100% ;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar ul{ 
    border: 1px solid yellow;
    display: flex;
    justify-content: space-around;
    width: 100%;
 

}
.navbar li { 
    display: inline;
    list-style-type: none;
    font-weight: bold;
}

.header{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    border: 2px solid salmon;

}
.header .tituloHeader { 
    font-size: 36px;
    font-weight: bolder;
}
.header p{ 
    text-align: center;
    padding: 15px;
    width: 35%;
    border: 2px solid slateblue;
}