* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #f8f4d8;
    filter: sepia(20%);
}

.container {
    display: flex;
    width: 90%;
    padding: 20px;
}

.blocos{
    display:flex;


    width:60%;
}
.paragrafo {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;

    align-items: center;

}
.botoes button{
    width:20%;
    height: 8vh;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    border:none;
}
.botoes{ 
    display:flex;
    justify-content: space-evenly;
    width:25%;


}
.paragrafo img {
    border-radius: 25px;
    height: 50vh;
    border: none;
}
.pequeno{
    font-size: 12px;
}
.alinhaVertical{ 
    width: 2px;
    height: 40vh ; 
    background-color:rgb(159, 159, 159);

}
.elementosp3{
    display:flex;
    
    justify-content: space-around;
    align-items: center;
}

.elementosp3 .texto{ 
    margin-right: 15px;

}
.texto {
    border: 2px solid black;
    width: 40%;
    padding: 5px;
}

.texto p {
    padding: 10px;
}

.texto h2 {
    padding: 10px;
}

#paragrafo2 {

    display: flex;


    justify-content: center;
    background-color: black;
    color: white;
}

#paragrafo2 img {
    width: 80%;
    transition: 300ms;
}

#paragrafo2 img:hover {
    opacity: 0.6;
}
.titulo{

    padding: 10px ; 
    font-size: 36px ;
    font-weight: bolder;
}
#paragrafo3{ 
    align-items: center;
    padding-top:4%;
    padding-bottom: 8%;

    justify-content: space-between;
    flex-direction: column;    
}
.botaoPlay {
    transition: 300ms;
    filter: invert();
    width: 250px;
    position: absolute;
    margin-top: 4%;
    display: none;
}

#play1 {
    margin-left: 63%;
}

#play {
    margin-left: 18%;
}

#paragrafo2 img:after {
    content: url()
}

.imagens {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#paragrafo2 .texto h2 {
    text-align: center;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;

    color: white;
    font-weight: bolder;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.squarespace-cdn.com/content/v1/5658e91fe4b0b80773976b4f/1623686042944-7U4ILX0A78WFD9SD08AH/%40nealfilmphoto.jpeg?format=1500w')
}

.header .tituloHeader {
    font-size: 36px;
    font-weight: bolder;
    color:#fffbdb;
}

.header p {
    text-align: center;
    padding: 15px;
    width: 35%;
    color:#fffbdb;
}
